/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/CoreCompileInputs.cache
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetDesignPatternDemos/.vs/DotNetDesignPatternDemos/v15/*.suo
/DotNetDesignPatternDemos/SOLID.OCP/bin/Debug/SOLID.OCP.exe
/DotNetDesignPatternDemos/SOLID.OCP/bin/Debug/SOLID.OCP.exe.config
/DotNetDesignPatternDemos/SOLID.OCP/bin/Debug/SOLID.OCP.pdb
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/CoreCompileInputs.cache
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/SOLID.OCP.csproj.FileListAbsolute.txt
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/SOLID.OCP.exe
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/SOLID.OCP.pdb
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DotNetDesignPatternDemos/SOLID.OCP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DotNetDesignPatternDemos/Solid.SRP/bin/Debug/Solid.SRP.exe
/DotNetDesignPatternDemos/Solid.SRP/bin/Debug/Solid.SRP.exe.config
/DotNetDesignPatternDemos/Solid.SRP/bin/Debug/Solid.SRP.pdb
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/Solid.SRP.csproj.FileListAbsolute.txt
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/Solid.SRP.csprojResolveAssemblyReference.cache
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/Solid.SRP.exe
/DotNetDesignPatternDemos/Solid.SRP/obj/Debug/Solid.SRP.pdb
